{% extends 'base.html' %}
{% load static %}
{% block cssfile %}{% endblock cssfile %}
{% block content %}

<div class="container-fluid">
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0 font-size-18">Sales</h4>
                </div>
            </div>
        </div>
     <!-- end row -->
    {% if messages %}
    <div class="col-12">
        {% for message in messages %}
            <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        </div>
    {% endif %}
    
    {# 
        This section represents a row within the sale page of the Footwear Inventory application.
        The row is defined using the Bootstrap grid system.
        Additional content and structure for this row should be added within this div.
    #}
     <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body m-3">
                    <div class="row mb-2">
                        <div class="col-sm-4">
                            <div class="search-box me-2 mb-2 d-inline-block">
                                <div class="position-relative">
                                    {% comment %} <input type="text" class="form-control" placeholder="Search...">
                                    <i class="bx bx-search-alt search-icon"></i> {% endcomment %}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="text-sm-end">
                                <a href="{% url 'sale' 'List' 'None' %}" class="btn btn-success btn-rounded waves-effect waves-light mb-2 me-2"><i class="mdi mdi-keyboard-backspace me-1"></i> Sale List</a>
                                </div> 
                        </div><!-- end col-->
                    </div>
                    <form name="form1" class="custom-validation" method="POST" enctype="multipart/form-data" id="form1">
                        {% csrf_token %}
                        <div class="row mb-2">
                            <div class="col-sm-8">
                                <div class="me-2 mb-2 d-inline-block text-sm-start">
                                    <div class="position-relative">
                                    <h3><img src="{{ shop_logo_url }}" alt="Shop Logo" class="shop-logo"> <B> AK Shoe House</B> </h3> 
                                    
                                    </div>
                                    <div class="shop-address">
                                        <strong>AK Shoe House       </strong>,Shirkatoli, Namkum Ranchi,Jharkhand-834010
                                    </div>
                                    <div class="invoice-details">
                                        <span class="text-gray">GST No:</span> <b>1231fd2541asd2511 </b>
                                        <h5><span class="bold-text">Invoice No:</span> </h5>
                                        <h6><span class="bold-text">Date:</span> <b>{{ current_date|date:'d-m-Y'}}</b> </h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="text-sm-end">
                                    <div class="row text-sm-end"> 
                                        <h4 align="left" ><strong>Invoice To </strong></h4>
                                        <table  class=" ml-2 dt-responsive nowrap w-100 text-sm-end">
                                            <thead>
                                                <tr>
                                                    <td>
                                                        <div class="form-group position-relative">
                                                            <label class="form-label"><strong> Contact No.<span class="text-danger" > *</span> </strong> </label>
                                                            
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group position-relative">
                                                            <label class="form-label"><strong> : </strong></label>
                                                            
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="position-relative text-sm-end">
                                                            {{ forms.contact_number }} 
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-group position-relative">
                                                            <label class="form-label"><strong> Name </strong> </label>
                                                            
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group position-relative">
                                                            <label class="form-label"><strong> :</strong> </label>
                                                            
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class=" position-relative text-sm-end">
                                                            {{ forms.name}}
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-group position-relative">
                                                            <label class="form-label"><strong>  Email </strong></label>
                                                             
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group position-relative">
                                                            <label class="form-label"><strong> :  </strong></label>
                                                             
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="position-relative text-sm-end">
                                                            {{ forms.email }}
                                                        </div>
                                                    </td>
                                                </tr>
                                              
                                                
                                            </thead>
                                        </table>
                                    </div>
                                </div> 
                            </div><!-- end col-->
                        </div>
                
                        <div class="row">
                            <table class="table" id="dynamicTable">
                                <thead>
                                    <tr>
                                        <th width="37%">Footwear</th>
                                        <th width="14%">Size </th>
                                        <th width="11%">MRP</th>
                                        <th width="10%">Quantity</th>
                                        <th width="12%">Salling Price</th>
                                        <th width="11%">Total</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if action == 'Update' %}
                                    {% for data in sale_details %}
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <select name="footwear_variant" class="form-control select2 footwearVariant" required>
                                                    <option value="">-- Select --</option>
                                                    {% for variant in footwear_update_variants %}
                                                        <option 
                                                            value="{{ variant.id }}" 
                                                            data-stock-quantity="{{ variant.stock_quantity }}" 
                                                            data-mrp="{{ variant.mrp }}" 
                                                            {% if data.variant.id == variant.id %}selected{% endif %}
                                                        >
                                                             {{ variant.name }} - {{ variant.footwear.category.gender }} || 
                                                             {{ variant.footwear.brand.name }} - {{ variant.footwear.category.name }} || 
                                                             {{ variant.material.name }} || {{ variant.stock_quantity }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </td>
                                    
                                        <td>
                                            <div class="form-group">
                                                <select name="footwear_size" class="form-control footwear_size" required>
                                                    <option value="">-- Select --</option>
                                                    {% for size in sizes %}
                                                    <option 
                                                        value="{{ size.0 }}" {% if data.size_id == size.0 %}selected{% endif %}>
                                                        {{ size.1 }} - {{ size.2 }}
                                                    </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </td>
                                    
                                        <td>
                                            <div class="form-group"> 
                                                <input type="number" name="mrp" class="form-control mrp" 
                                                    value="{{ data.variant.mrp|default_if_none:'' }}" 
                                                    step="0.1" required readonly />
                                            </div>
                                        </td>
                                    
                                        <td>
                                            <div class="form-group">
                                                <input type="number" name="qty" class="form-control qty" 
                                                    value="{{ data.quantity }}" required/>
                                            </div>
                                        </td>
                                    
                                        <td>
                                            <div class="form-group">
                                                <input type="number" name="s_price" class="form-control s_price" 
                                                    value="{{ data.selling_price }}" step="0.1" required/>
                                            </div>
                                        </td>
                                    
                                        <td>
                                            <div class="form-group">
                                                <input type="number" name="sub_total" class="form-control sub_total" 
                                                    value="{{ data.sub_total_price }}" step="0.1" required readonly/>
                                            </div>
                                        </td>
                                    
                                        <td>
                                            <div class="d-sm-flex align-items-center justify-content-between"> 
                                                <div class="btn btn-success addRow"><i class="fas fa-plus-circle"></i></div>
                                                <div class="btn btn-danger deleteRow"><i class="fas fa-trash-alt"></i></div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                    {% else %}
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <select name="footwear_variant" class="form-control select2 footwearVariant" required>
                                                    <option value="">-- Select --</option>
                                                    {% for variant in footwear_variants %}
                                                        <option value="{{ variant.id }}" data-stock-quantity="{{ variant.stock_quantity }}">
                                                            Name-Gender:  {{ variant.name }} - {{ variant.footwear.category.gender }} || 
                                                            Brand-Category: {{ variant.footwear.brand.name }} - {{ variant.footwear.category.name }} || Material :{{ variant.material.name }} || 
                                                            Stock: {{ variant.stock_quantity }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </td>
                                        
                                        <td><div class="form-group">
                                            <select name="footwear_size" id="footwear_size" class="form-control footwear_size" required>
                                                <option value="">-- Select --</option>
                                            </select>
                                        </div></td>
                                        <td>
                                        <div class="form-group"> 
                                            <input type="number" name="mrp" id="mrp" class="form-control mrp" value="" step="0.1" required readonly />
                                        </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <input type="number" name="qty" id="qty" class="form-control qty" value="" required/>
                                            </div>

                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <input type="number" name="s_price" id="s_price" class="form-control s_price" step="0.1"  value="0" required/>
                                            </div>
                                        </td>
                                        <td><div class="form-group">
                                            <input type="number" name="sub_total" id="sub_total" class="form-control sub_total" value="0" step="0.1" required readonly/>
                                        </div></td>
                                        <td>
                                            <div class="d-sm-flex align-items-center justify-content-between"> 
                                                <div class="btn btn-success addRow"><i class="fas fa-plus-circle"></i></div>
                                                <div class="btn btn-danger deleteRow"><i class="fas fa-trash-alt"></i></div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                     
                            
                        </div>
                        <div class="text-sm-end">
                            <div class="row col-6 offset-6"> 
                                <table  class=" ml-2 dt-responsive nowrap w-100 text-sm-end">
                                    <thead>
                                        <tr>
                                            <td>
                                                <div class="form-group position-relative">
                                                    <label class="form-label"><strong> Grand Total<span class="text-danger" > *</span> </strong> </label>
                                                    
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group position-relative">
                                                    <label class="form-label"><strong> : </strong></label>
                                                    
                                                </div>
                                            </td>
                                            <td>
                                                <div class="position-relative text-sm-end">
                                                     <b>{{ sale_form.total_amount }} </b>
                                                </div>
                                            </td>
                                        </tr>
                                            <tr>
                                                <td>
                                                    <div class="form-group position-relative">
                                                        <label class="form-label"><strong> GST Type  </strong> </label>
                                                        
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group position-relative">
                                                        <label class="form-label"><strong>: </strong> </label>
                                                        
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="position-relative text-sm-end">
                                                        {{ sale_form.gst }} 
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="form-group position-relative">
                                                        <label class="form-label"><strong> GST Amount  </strong> </label>
                                                        
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group position-relative">
                                                        <label class="form-label"><strong>: </strong> </label>
                                                        
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="position-relative text-sm-end">
                                                        <input type="hidden" name="gst_rate" id="gst_rate" class="form-control gst_rate" value="" required readonly/>

                                                        {{ sale_form.gst_amount }} 
                                                    </div>
                                                </td>
                                            </tr>
                                        <tr>
                                            <td>
                                                <div class="form-group position-relative">
                                                    <label class="form-label"><strong>  Discount Amount </strong></label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group position-relative">
                                                    <label class="form-label"><strong> : </strong></label>
                                                     
                                                </div>
                                            </td>
                                            <td>
                                                <div class="position-relative text-sm-end">
                                                   <b>{{ sale_form.discount }}</b>
                                                </div>
                                            </td>
                                        </tr>
                                      
                                        <tr>
                                            <td>
                                                <div class="form-group position-relative">
                                                    <label class="form-label"><strong> Payable Amount </strong></label>
                                                     
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group position-relative">
                                                    <label class="form-label"><strong> :</strong></label>
                                                     
                                                </div>
                                            </td>
                                            <td>
                                                <div class="position-relative text-sm-end">
                                                    <b> {{ sale_form.payable_amount }}</b>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-group position-relative">
                                                    <label class="form-label"><strong> Payment Mode </strong></label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group position-relative">
                                                    <label class="form-label"><strong> :</strong></label>
                                                     
                                                </div>
                                            </td>
                                            <td>
                                                <div class="position-relative text-sm-end">
                                                    <b> {{ sale_form.payment_method }}</b>
                                                </div>
                                            </td>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div> 
                        <div class="d-flex justify-content-end align-items-center">
                            <div class="col-lg-5 mt-1 ms-3">
                                <div>
                                    <label><strong><b> Notes</b></strong></label>
                                     {{ sale_form.notes }}
                                </div>
                            </div>
                        </div>
                           
                        <div class="row">   
                            <div class="col-md-12 col-sm-12 col-xs-12 m-2"  align="center">
                                {% if action != 'Close' %}
                                <center>
                                    <button type="submit" name="purchase" class="btn btn-info   waves-effect waves-light" >{{action}}</button>
                                    <button type="reset" class="btn btn-secondary waves-effect waves-light">Reset</button>
                                </center>
                               {% endif %}
                            </div>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div> <!-- end col -->
    </div> <!-- end row -->
<!---
    <script>
        $(document).ready(function () {
            function initializeSelect2() {
                $('.select2').select2();
            }
    
            function calculateAllRows() {
                $('#dynamicTable tbody tr').each(function () {
                    calculateRowTotal($(this));
                });
            }
    
            function calculateRowTotal(row) {
                let qty = parseInt(row.find('.qty').val());
                let s_price = parseFloat(row.find('.s_price').val()) || 0;
                let mrp = parseFloat(row.find('.mrp').val()) || 0;
                let stock_qty = parseInt(row.find('.footwearVariant option:selected').data('stock-quantity'));
                if (qty > stock_qty) {
                    alert(`Quantity cannot exceed available stock of ${stock_qty}.`);
                    qty = stock_qty;
                    row.find('.qty').val(qty);
                }
    
                let max_selling_price = qty * mrp;
                let total_price = (qty > 0 && s_price > 0) ? (qty * s_price) : max_selling_price;
    
                if (total_price > max_selling_price) {
                    total_price = max_selling_price;
                }
    
                row.find('.s_price').val(mrp.toFixed(2));
                row.find('.sub_total').val(total_price.toFixed(2));
    
                calculateTotalAmount();
            }
    
            function calculateTotalAmount() {
                let total_amount = 0;
                $('.sub_total').each(function () {
                    total_amount += parseFloat($(this).val()) || 0;
                });
    
                $('#id_total_amount').val(total_amount.toFixed(2));
                calculateGSTandPayableAmount();
            }
    
            function calculateGSTandPayableAmount() {
                let total_amount = parseFloat($('#id_total_amount').val()) || 0;
                let discount = parseFloat($('#id_discount').val()) || 0;
                let gst_rate = parseFloat($('#gst_rate').val()) || 0;
    
                let gst_amount = (total_amount * gst_rate) / 100;
                $('#id_gst_amount').val(gst_amount.toFixed(2));
    
                let payable_amount = (total_amount + gst_amount) - discount;
                $('#id_payable_amount').val(payable_amount.toFixed(2));
            }
    
            function loadFootwearVariantData() {
                $('.footwearVariant').each(function () {
                    let variantId = $(this).val();
                    let row = $(this).closest('tr');
                    if (variantId) {
                        const csrfToken = '{{ csrf_token }}';
                        $.ajax({
                            url: "{% url 'get_footwear_sizes' %}",
                            method: 'POST',
                            data: {
                                'variant_id': variantId,
                                'csrfmiddlewaretoken': csrfToken,
                            },
                            success: function(response) {
                                let sizeSelect = row.find('.footwear_size');
                                sizeSelect.empty().append('<option value="">-- Select --</option>');
                                $.each(response.sizes, function(index, size) {
                                    sizeSelect.append('<option value="' + size.id + '">' + size.value + '</option>');
                                });
                                row.find('.mrp').val(response.amount_mrp);
                                row.find('.qty').val(1);
                                calculateRowTotal(row);
                            }
                        });
                    }
                });
            }
            function loadGstData() {
                let id_gst = $('#id_gst').val();
                if (id_gst !== '') {
                    const csrfToken = '{{ csrf_token }}';
                    $.ajax({
                        url: "{% url 'get_gst_percentage' %}",
                        method: 'POST',
                        data: {
                            'gst': id_gst,
                            'csrfmiddlewaretoken': csrfToken,
                        },
                        success: function(response) {
                            $('#gst_rate').val(response.gst_percentage.toFixed(2));
                            calculateGSTandPayableAmount();
                        }
                    });
                } else {
                    $('#id_gst_amount').val(0.00);
                    $('#gst_rate').val(0);
                    calculateGSTandPayableAmount();
                }
            }
    
            $(document).on('change', '.qty', function () {
                let row = $(this).closest('tr');
                calculateRowTotal(row);
            });
    
            $(document).on('keyup change', '#gst, #discount, #id_discount', function () {
                calculateGSTandPayableAmount();
            });
    
            $(document).on('click', '.addRow', function () {
                let newRow = `<tr>
                    <td>
                        <div class="form-group">
                            <select name="footwear_variant" class="form-control select2 footwearVariant" required>
                                <option value="">-- Select --</option>
                                {% for variant in footwear_variants %}
                                    <option value="{{ variant.id }}" data-stock-quantity="{{ variant.stock_quantity }}">
                                        {{ variant.name }} - {{ variant.footwear.category.gender }} || 
                                        {{ variant.footwear.brand.name }} - {{ variant.footwear.category.name }} - {{ variant.material.name }} || 
                                        Stock: {{ variant.stock_quantity }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </td>
                    <td><select name="footwear_size" class="form-control footwear_size" required><option value="">-- Select --</option></select></td>
                    <td><input type="text" name="mrp" class="form-control mrp" value="0.00" step="0.1"  readonly required/></td>
                    <td><input type="number" name="qty" class="form-control qty" value="1" required/></td>
                    <td><input type="number" name="s_price" class="form-control s_price" value="0" step="0.1" required/></td>
                    <td><input type="number" name="sub_total" class="form-control sub_total" value="0.00" step="0.1" readonly required/></td>
                    <td>
                        <div class="d-sm-flex align-items-center justify-content-between"> 
                            <div class="btn btn-success addRow"><i class="fas fa-plus-circle"></i></div>
                            <div class="btn btn-danger deleteRow"><i class="fas fa-trash-alt"></i></div>
                        </div>
                    </td>
                </tr>`;
                $('#dynamicTable tbody').append(newRow);
                initializeSelect2();
                calculateAllRows();
            });
    
            $(document).on('click', '.deleteRow', function () {
                if ($('#dynamicTable tbody tr').length > 1) {
                    $(this).closest('tr').remove();
                    calculateTotalAmount();
                } else {
                    alert('At least one row must remain in the table.');
                }
            });

            $(document).on('change', '.footwearVariant', loadFootwearVariantData);
            $(document).on('change', '#id_gst', loadGstData);
            loadFootwearVariantData();
            loadGstData();
            initializeSelect2();
            calculateAllRows();
        });
    </script>-->
     <script>
        $(document).ready(function () {
            function initializeSelect2() {
                $('.select2').select2();

            }

            
            function calculateAllRows() {
                $('#dynamicTable tbody tr').each(function () {
                    calculateRowTotal($(this));
                });
            }
    
            function calculateRowTotal(row) {
                let qty = parseInt(row.find('.qty').val());
                let s_price = parseFloat(row.find('.s_price').val()) || 0;
                let mrp = parseFloat(row.find('.mrp').val()) || 0;
                let stock_qty = parseInt(row.find('.footwearVariant option:selected').data('stock-quantity'));
                let action = '{{action}}';
                if (qty > stock_qty && action == 'Save') {
                    alert(`Quantity cannot exceed available stock of ${stock_qty}.`);
                    qty = stock_qty;
                    row.find('.qty').val(qty);
                }
    
                let max_selling_price = qty * mrp;
                let total_price = (qty > 0 && s_price > 0) ? (qty * s_price) : max_selling_price;
    
                if (total_price > max_selling_price) {
                    total_price = max_selling_price;
                }
    
                row.find('.s_price').val(mrp.toFixed(2));
                row.find('.sub_total').val(total_price.toFixed(2));
    
                calculateTotalAmount();
            }
    
            function calculateTotalAmount() {
                let total_amount = 0;
                $('.sub_total').each(function () {
                    total_amount += parseFloat($(this).val()) || 0;
                });
    
                $('#id_total_amount').val(total_amount.toFixed(2));
                calculateGSTandPayableAmount();
            }
    
            function calculateGSTandPayableAmount() {
                let total_amount = parseFloat($('#id_total_amount').val()) || 0;
                let discount = parseFloat($('#id_discount').val()) || 0;
                let gst_rate = parseFloat($('#gst_rate').val()) || 0;
    
                let gst_amount = (total_amount * gst_rate) / 100;
                $('#id_gst_amount').val(gst_amount.toFixed(2));
    
                let payable_amount = (total_amount + gst_amount) - discount;
                $('#id_payable_amount').val(payable_amount.toFixed(2));
            }
    
            $(document).on('change', '.footwearVariant', function () {
                let variantId = $(this).val();
                let row = $(this).closest('tr');
                if (variantId) {
                    const csrfToken = '{{ csrf_token }}';
                    $.ajax({
                        url: "{% url 'get_footwear_sizes' %}",
                        method: 'POST',
                        data: {
                            'variant_id': variantId,
                            'csrfmiddlewaretoken': csrfToken,
                        },
                        success: function(response) {
                            let sizeSelect = row.find('.footwear_size');
                            sizeSelect.empty().append('<option value="">-- Select --</option>');
                            $.each(response.sizes, function(index, size) {
                                sizeSelect.append('<option value="' + size.id + '">' + size.value + '</option>');
                            });
                            row.find('.mrp').val(response.amount_mrp);
                            row.find('.qty').val(1);
                            calculateRowTotal(row);
                        }
                    });
                } else {
                    row.find('.footwear_size').empty().append('<option value="">-- Select --</option>');
                    row.find('.mrp').val(0.00);

                    row.find('.mrp').val(response.amount_mrp);
                    row.find('.qty').val(1);
                    calculateRowTotal(row);
                }
            });
            function loadGstData() {
                let id_gst = $('#id_gst').val();
                if (id_gst !== '') {
                    const csrfToken = '{{ csrf_token }}';
                    $.ajax({
                        url: "{% url 'get_gst_percentage' %}",
                        method: 'POST',
                        data: {
                            'gst': id_gst,
                            'csrfmiddlewaretoken': csrfToken,
                        },
                        success: function(response) {
                            $('#gst_rate').val(response.gst_percentage.toFixed(2));
                            calculateGSTandPayableAmount();
                        }
                    });
                } else {
                    $('#id_gst_amount').val(0.00);
                    $('#gst_rate').val(0);
                    calculateGSTandPayableAmount();
                }
            }
    
            $(document).on('change', '.qty', function () {
                let row = $(this).closest('tr');
                calculateRowTotal(row);
            });
    
            $(document).on('keyup change', '#gst, #discount, #id_discount', function () {
                calculateGSTandPayableAmount();
            });
    
            $(document).on('click', '.addRow', function () {
                let newRow = `<tr>
                    <td>
                        <div class="form-group">
                            <select name="footwear_variant" class="form-control select2 footwearVariant" required>
                                <option value="">-- Select --</option>
                                {% for variant in footwear_variants %}
                                    <option value="{{ variant.id }}" data-stock-quantity="{{ variant.stock_quantity }}">
                                        {{ variant.name }} - {{ variant.footwear.category.gender }} || 
                                        {{ variant.footwear.brand.name }} - {{ variant.footwear.category.name }} - {{ variant.material.name }} || 
                                        Stock: {{ variant.stock_quantity }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </td>
                    <td><select name="footwear_size" class="form-control footwear_size" required><option value="">-- Select --</option></select></td>
                    <td><input type="text" name="mrp" class="form-control mrp" value="0.00" step="0.1"  readonly required/></td>
                    <td><input type="number" name="qty" class="form-control qty" value="1" required/></td>
                    <td><input type="number" name="s_price" class="form-control s_price" value="0" step="0.1" required/></td>
                    <td><input type="number" name="sub_total" class="form-control sub_total" value="0.00" step="0.1" readonly required/></td>
                    <td>
                        <div class="d-sm-flex align-items-center justify-content-between"> 
                            <div class="btn btn-success addRow"><i class="fas fa-plus-circle"></i></div>
                            <div class="btn btn-danger deleteRow"><i class="fas fa-trash-alt"></i></div>
                        </div>
                    </td>
                </tr>`;
                $('#dynamicTable tbody').append(newRow);
                initializeSelect2();
                calculateAllRows();
            });
    
            $(document).on('click', '.deleteRow', function () {
                if ($('#dynamicTable tbody tr').length > 1) {
                    $(this).closest('tr').remove();
                    calculateTotalAmount();
                } else {
                    alert('At least one row must remain in the table.');
                }
            });
    
            initializeSelect2();
            calculateAllRows();
            loadGstData();
        
        });
    </script> 
    
    
   
    {% endblock content %}
    {% block jsfile %} 
    <script src="{% static 'assets/js/pages/form-validation.init.js' %}"></script>
    <script src="{% static 'assets/js/pages/form-advanced.init.js' %}"></script>
    {% endblock jsfile %}